### Working with Date and Time

Dates.Time
Dates.Date
Dates.Datetime

In [1]:
using Dates # import

In [2]:
now() # current date and time

2021-12-27T18:49:26.572

In [3]:
today() # current date

2021-12-27

In [4]:
birthdate1 = Date(2000,5,1) #yyyy,mm,dd

2000-05-01

In [5]:
birthdate=DateTime(2000,5,1,10,15,25)

2000-05-01T10:15:25

In [6]:
now(UTC) # different time zone

2021-12-27T13:19:27.429

In [7]:
year(birthdate) #extract year

2000

In [8]:
month(birthdate) #extract month

5

In [9]:
day(birthdate) #extrect day

1

In [10]:
year(now()) # current year

2021

In [11]:
hour(now()) # current hrs

18

In [12]:
dayofweek(birthdate) #extract day of week

1

In [13]:
dayname(birthdate) # exctract day name

"Monday"

In [14]:
dayofquarter(birthdate)

31

In [15]:
daysinmonth(birthdate) # extract days in month

31

In [16]:
today() - birthdate1 #arithematic operations

7910 days

In [17]:
today() + Month(5) #adding months

2022-05-27

In [18]:
date_format= DateFormat("dd-mm-yyyy")

dateformat"dd-mm-yyyy"

In [19]:
Dates.format(birthdate,date_format)

"01-05-2000"

### Conditional statements

In [20]:
a = 10

10

In [21]:
a > 10 ? "yes" : "no"

"no"

In [22]:
a < 10 ? "Yes" : "No"

"No"

In [23]:
a <= 10 ? "Yes" : "No"

"Yes"

In [24]:
b =20

20

- It will give false only when both the conditions are false

In [25]:
a >= 10 || b<20 #logical operators #or condition

true

In [26]:
a > 10 || b< 20 # both statements are false

false

- Both the conditions needs to be true.

In [27]:
# and operator 
a >= 10 && b < 20

false

In [28]:
a >= 10 && b <=20

true

In [29]:
# if condition
if a > 10
    print("a is grater thnan 10")
elseif a < 10
    print("a is less than 10")
else
    print(" a is equal to 10")
end

 a is equal to 10

In [30]:
country = "United States"

"United States"

In [31]:
if country == "United States"
    print("you mention United State")
else
    print("other country")
end

you mention United State

### Loops

In [32]:
for i in ["Adidas","Nike","Puma"] #array
    print(i, " ")
end

Adidas Nike Puma

In [33]:
for i in ["Adidas","Nike","Puma"]
    println(i)
end

Adidas
Nike
Puma

In [34]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [35]:
for t in (1,2,3,4,5) #tuple
    print(t," ")
end

1 2 3 4 5

In [36]:
for t in (1,2,3,4,5)
    println(t)
end

1
2
3
4
5

In [37]:
for d in Dict(:car1 =>100, :car2 => 200)#dictonary
    print(d, " ")
end

:car2 => 200 :car1 => 100

In [38]:
d1= Dict(:car1 =>100, :car2 => 200)

Dict{Symbol, Int64} with 2 entries:
  :car2 => 200
  :car1 => 100

In [39]:
for d in d1
    print(d, " ")
end

:car2 => 200 :car1 => 100

In [40]:
for s in Set([1,2,3,4,5]) #set
    print(s)
end

54231

In [41]:
for range in 1:5 #range
    print(range, " ")
end

1 2 3 4 5

In [42]:
for range in 1:5 #range
    @show range #relation of variable
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [43]:
for x in 1:10 # even number
    if x % 2==0
        print(x, " ")
    end
end

2 4 6 8 10

In [44]:
for i in 1:10
    j = i * 10
    println("$(j) is multiplication between $(i) and 10")
end

10 is multiplication between 1 and 10
20 is multiplication between 2 and 10
30 is multiplication between 3 and 10
40 is multiplication between 4 and 10
50 is multiplication between 5 and 10
60 is multiplication between 6 and 10
70 is multiplication between 7 and 10
80 is multiplication between 8 and 10
90 is multiplication between 9 and 10
100 is multiplication between 10 and 10

In [45]:
for i in 1:10
    if i % 2 ==0
        continue # it will ignore even number and print odd number
    end
    println(i)
end

1
3
5
7
9

In [46]:
a = 1

1

In [47]:
while a < 10 
    println(a)
    a += 1 
end

1
2
3
4
5
6
7
8
9

### Comprehensions

In [48]:
x = [i for i in 1:10]

10-element Vector{Int64}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [49]:
x = [i*2 for i in 1:10]

10-element Vector{Int64}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

In [50]:
x = [i^2 for i in 1:10]

10-element Vector{Int64}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [51]:
s = Set([i for i in 1:10]) # unordered set

Set{Int64} with 10 elements:
  5
  4
  6
  7
  2
  10
  9
  8
  3
  1

In [52]:
alphabet = Dict(string(Char(x_ + 64))=> x_ for x_ in 1:26) # dict comprehension

Dict{String, Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [53]:
[(x,y) for x in 1:3, y in 1:2] #2d array within it has tuple

3Ã—2 Matrix{Tuple{Int64, Int64}}:
 (1, 1)  (1, 2)
 (2, 1)  (2, 2)
 (3, 1)  (3, 2)

In [54]:
[x for x in 1:10 if x%2 ==0] #even number

5-element Vector{Int64}:
  2
  4
  6
  8
 10

In [55]:
[x for x in 1:10 if x%2 ==1] #odd number

5-element Vector{Int64}:
 1
 3
 5
 7
 9

### Working with strings

In [56]:
s1 = "I love Julia"

"I love Julia"

In [57]:
length(s1) # length of the string

12

In [58]:
lastindex(s1) # last index number

12

In [59]:
s1[4] # indexsing

'o': ASCII/Unicode U+006F (category Ll: Letter, lowercase)

In [60]:
s1[3:4]

"lo"

In [61]:
isascii(s1) #does string contains ascii charaters or not

true

In [62]:
"julia" ^ 5 # write word in n number of times

"juliajuliajuliajuliajulia"

In [63]:
string("Julia"," python") # combining string

"Julia python"

In [64]:
split(s1) # splitting

3-element Vector{SubString{String}}:
 "I"
 "love"
 "Julia"

In [65]:
split(s1,"l")

3-element Vector{SubString{String}}:
 "I "
 "ove Ju"
 "ia"

In [66]:
split(s1,"") # splitting one one char

12-element Vector{SubString{String}}:
 "I"
 " "
 "l"
 "o"
 "v"
 "e"
 " "
 "J"
 "u"
 "l"
 "i"
 "a"

In [67]:
parse(Int64, "100") #convert string to int as we can do float

100

In [68]:
in('I',s1) #finding an char is present or not

true

In [69]:
occursin("Julia",s1) #finding word

true

In [70]:
findfirst("l",s1) #when the char is occured first

3:3

In [71]:
findfirst("love",s1)

3:6

In [72]:
s1 = replace(s1,"love" => "adore") # replace word

"I adore Julia"

In [73]:
s1

"I adore Julia"

### Functions

In [75]:
f(x) = x + x

f (generic function with 1 method)

In [76]:
f(2)

4

In [77]:
f(x,y) = x*2 - y

f (generic function with 2 methods)

In [79]:
f(2,3)

1

In [80]:
function multiply(x,y) # standrd way of writing function
    return x*y 
end

multiply (generic function with 1 method)

In [81]:
multiply(3,3)

9

In [82]:
function convert_meter_to_inch(val)
    return val * 39.37
end

convert_meter_to_inch (generic function with 1 method)

In [83]:
convert_meter_to_inch(1.5)

59.05499999999999

In [84]:
function bmi(kg,m)
    return kg/m^2
end

bmi (generic function with 1 method)

In [85]:
bmi(50,157)

0.0020284798571950182

In [86]:
function convert_meter_to_inch(val, name= "Patron")
    if name == "Patron"
        println("value for name is not supplied")
    else
        println("Hi ",name," the conversetion values is ")
    end
        return val * 39.37
end

convert_meter_to_inch (generic function with 2 methods)

In [87]:
convert_meter_to_inch(2.3)

value for name is not supplied

90.55099999999999

In [88]:
convert_meter_to_inch(2.3, "ABC")

Hi ABC the conversetion values is

90.55099999999999

### Formatting numbers and string

In [90]:
using Printf

In [91]:
name ="Abc" ; #semocolen will not print the name but will sotre it

In [92]:
@printf("Hello %s", name)

Hello Abc

In [93]:
@sprintf("Hello %s", name) #pure string based output

"Hello Abc"

In [94]:
ch = 'i' #character format
@printf("%c",ch) # c belong to character

i

In [95]:
x = 100
@printf("Value of x is %d",x) #d belongs to integer

Value of x is 100

In [96]:
y = 100.05
@printf("Value of y is %f",y) # f belongs to float

Value of y is 100.050000

In [97]:
@printf("Value of y is %.2f",y) #just two number after decimal

Value of y is 100.05