### Working with Date and Time

Dates.Time
Dates.Date
Dates.Datetime

In [127]:
using Dates # import

In [128]:
now() # current date and time

2021-12-26T23:27:33.107

In [129]:
today() # current date

2021-12-26

In [130]:
birthdate1 = Date(2000,5,1) #yyyy,mm,dd

2000-05-01

In [131]:
birthdate=DateTime(2000,5,1,10,15,25)

2000-05-01T10:15:25

In [132]:
now(UTC) # different time zone

2021-12-26T17:57:33.119

In [133]:
year(birthdate) #extract year

2000

In [134]:
month(birthdate) #extract month

5

In [135]:
day(birthdate) #extrect day

1

In [136]:
year(now()) # current year

2021

In [137]:
hour(now()) # current hrs

23

In [138]:
dayofweek(birthdate) #extract day of week

1

In [139]:
dayname(birthdate) # exctract day name

"Monday"

In [140]:
dayofquarter(birthdate)

31

In [141]:
daysinmonth(birthdate) # extract days in month

31

In [142]:
today() - birthdate1 #arithematic operations

7909 days

In [143]:
today() + Month(5) #adding months

2022-05-26

In [144]:
date_format= DateFormat("dd-mm-yyyy")

dateformat"dd-mm-yyyy"

In [145]:
Dates.format(birthdate,date_format)

"01-05-2000"

### Conditional statements

In [146]:
a = 10

10

In [147]:
a > 10 ? "yes" : "no"

"no"

In [148]:
a < 10 ? "Yes" : "No"

"No"

In [149]:
a <= 10 ? "Yes" : "No"

"Yes"

In [150]:
b =20

20

- It will give false only when both the conditions are false

In [151]:
a >= 10 || b<20 #logical operators #or condition

true

In [152]:
a > 10 || b< 20 # both statements are false

false

- Both the conditions needs to be true.

In [153]:
# and operator 
a >= 10 && b < 20

false

In [154]:
a >= 10 && b <=20

true

In [155]:
# if condition
if a > 10
    print("a is grater thnan 10")
elseif a < 10
    print("a is less than 10")
else
    print(" a is equal to 10")
end

 a is equal to 10

In [156]:
country = "United States"

"United States"

In [157]:
if country == "United States"
    print("you mention United State")
else
    print("other country")
end

you mention United State

### Loops

In [158]:
for i in ["Adidas","Nike","Puma"] #array
    print(i, " ")
end

Adidas Nike Puma

In [159]:
for i in ["Adidas","Nike","Puma"]
    println(i)
end

Adidas
Nike
Puma

In [160]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [161]:
for t in (1,2,3,4,5) #tuple
    print(t," ")
end

1 2 3 4 5

In [162]:
for t in (1,2,3,4,5)
    println(t)
end

1
2
3
4
5

In [163]:
for d in Dict(:car1 =>100, :car2 => 200)#dictonary
    print(d, " ")
end

:car2 => 200 :car1 => 100

In [164]:
d1= Dict(:car1 =>100, :car2 => 200)

Dict{Symbol, Int64} with 2 entries:
  :car2 => 200
  :car1 => 100

In [165]:
for d in d1
    print(d, " ")
end

:car2 => 200 :car1 => 100

In [166]:
for s in Set([1,2,3,4,5]) #set
    print(s)
end

54231

In [167]:
for range in 1:5 #range
    print(range, " ")
end

1 2 3 4 5

In [168]:
for range in 1:5 #range
    @show range #relation of variable
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [169]:
for x in 1:10 # even number
    if x % 2==0
        print(x, " ")
    end
end

2 4 6 8 10

In [170]:
for i in 1:10
    j = i * 10
    println("$(j) is multiplication between $(i) and 10")
end

10 is multiplication between 1 and 10
20 is multiplication between 2 and 10
30 is multiplication between 3 and 10
40 is multiplication between 4 and 10
50 is multiplication between 5 and 10
60 is multiplication between 6 and 10
70 is multiplication between 7 and 10
80 is multiplication between 8 and 10
90 is multiplication between 9 and 10
100 is multiplication between 10 and 10

In [171]:
for i in 1:10
    if i % 2 ==0
        continue # it will ignore even number and print odd number
    end
    println(i)
end

1
3
5
7
9

In [172]:
a = 1

1

In [173]:
while a < 10 
    println(a)
    a += 1 
end

1
2
3
4
5
6
7
8
9

### Comprehensions

In [177]:
x = [i for i in 1:10]

10-element Vector{Int64}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [178]:
x = [i*2 for i in 1:10]

10-element Vector{Int64}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

In [179]:
x = [i^2 for i in 1:10]

10-element Vector{Int64}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [180]:
s = Set([i for i in 1:10]) # unordered set

Set{Int64} with 10 elements:
  5
  4
  6
  7
  2
  10
  9
  8
  3
  1

In [184]:
alphabet = Dict(string(Char(x_ + 64))=> x_ for x_ in 1:26) # dict comprehension

Dict{String, Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [185]:
[(x,y) for x in 1:3, y in 1:2] #2d array within it has tuple

3Ã—2 Matrix{Tuple{Int64, Int64}}:
 (1, 1)  (1, 2)
 (2, 1)  (2, 2)
 (3, 1)  (3, 2)

In [186]:
[x for x in 1:10 if x%2 ==0] #even number

5-element Vector{Int64}:
  2
  4
  6
  8
 10

In [187]:
[x for x in 1:10 if x%2 ==1] #odd number

5-element Vector{Int64}:
 1
 3
 5
 7
 9

### Working with strings

In [188]:
s1 = "I love Julia"

"I love Julia"

In [190]:
length(s1) # length of the string

12

In [191]:
lastindex(s1) # last index number

12

In [192]:
s1[4] # indexsing

'o': ASCII/Unicode U+006F (category Ll: Letter, lowercase)

In [193]:
s1[3:4]

"lo"

In [194]:
isascii(s1) #does string contains ascii charaters or not

true

In [195]:
"julia" ^ 5 # write word in n number of times

"juliajuliajuliajuliajulia"

In [196]:
string("Julia"," python") # combining string

"Julia python"

In [197]:
split(s1) # splitting

3-element Vector{SubString{String}}:
 "I"
 "love"
 "Julia"

In [198]:
split(s1,"l")

3-element Vector{SubString{String}}:
 "I "
 "ove Ju"
 "ia"

In [199]:
split(s1,"") # splitting one one char

12-element Vector{SubString{String}}:
 "I"
 " "
 "l"
 "o"
 "v"
 "e"
 " "
 "J"
 "u"
 "l"
 "i"
 "a"

In [200]:
parse(Int64, "100") #convert string to int as we can do float

100

In [201]:
in('I',s1) #finding an char is present or not

true

In [203]:
occursin("Julia",s1) #finding word

true

In [205]:
findfirst("l",s1) #when the char is occured first

3:3

In [207]:
findfirst("love",s1)

3:6

In [208]:
s1 = replace(s1,"love" => "adore") # replace word

"I adore Julia"

In [209]:
s1

"I adore Julia"

In [ ]:
# 2:41:49